@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground;
  }
}

:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --radius: 0.625rem;
  --background: #0a0a0a;
  --foreground: #fafafa;
  --popover: #0a0a0a;
  --popover-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #171717;
  --secondary: #151515;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: #ef4444;
  --border: #262626;
  --input: #262626;
  --ring: #525252;
}

* {
  box-sizing: border-box;
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: transparent !important;
}

#root {
  position: relative;
}

.menuItem:hover {
  background: #ffffff15;
}

.hide-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

[data-slot="switch"][data-state="unchecked"] {
  @apply bg-[#ffffff20];
}
[data-slot="switch"][data-state="checked"] {
  @apply bg-blue-600;
}

[data-slot="switch"][data-state="checked"][aria-describedby="allworkspaces-description"] {
  @apply bg-emerald-600;
}

[data-slot="switch-thumb"][data-state="checked"] {
  @apply bg-white translate-x-[calc(100%-2px)];
}
[data-slot="switch-thumb"][data-state="unchecked"] {
  @apply bg-black;
}

button:disabled {
  @apply bg-border! opacity-60;
}
